<!DOCTYPE html>
<html lang="en">
<head>
  <title>Decision Maker - <%= title %> Results</title>
  <%- include('partials/_header') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>
  <header>
    <div id="home-logo"><img src="/images/arrows.png" alt="Arrows picture" id="logo-pic"/></div>
    <div id ="logo">Decision Maker</div>
  </header>
    <main class="container">
      <section class="vote-section">
        <form class="vote-form">
  <!-- Vote question -->
          <div class="vote-question">
            <h2><%= title %></h2>
            <p>The voting results are shown in the chart below</p>
          </div>
  <!-- Vote result -->
          <div class="result-vote">
            <canvas id="myChart"></canvas>
            <script>
              let xValues = [];
              let yValues = [];
              <% poll.forEach(function(item) { %>
                xValues.push('<%= item.choice %>');
                yValues.push('<%= item.score %>');
              <% }) %>
              let barColors = ["red","green","blue","orange","purple","pink","yellow","brown","black"];
              new Chart("myChart", {
                type: "horizontalBar",
                data: {
                  labels: xValues,
                  datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                  }]
                },
                options: {
                  legend: {display: false},
                }
              });
            </script>
          </div>
        </form>
      </section>
    </main>
    <%- include('partials/_footer') %>
</body>
</html>
