<!DOCTYPE html>
<html lang="en">
<head>
  <title>Decision Maker - Share Poll</title>
  <%- include('partials/_header') %>
</head>
<body>
  <header>
    <div id="home-logo"><img src="/images/arrows.png" alt="Arrows picture" id="logo-pic"/></div>
    <div id ="logo">Decision Maker</div>
  </header>

  <main class="container">
    <section class="vote-section">
      <form class="vote-form">
<!-- Vote question-->
        <div class="vote-question">
          <h2><%= title %></h2>
          <p>Your poll for the aforementioned question has been created</p>
        </div>
<!-- Vote options-->
        <div class="vote-set">
          <a href="/polls/<%= submissionLink %>"><h5>This is a sharable voting link</h5></a>
          <p> Your will receive an email notification every time a new vote is submitted </p>
          <a href="/polls/<%= userLink %>/results"><h5>This administrative link allows you to view the poll results</h5></a>
        </div>
      </form>
    </section>
  </main>
  <%- include('partials/_footer') %>
</body>
</html>
