<!DOCTYPE html>
<html lang="en">
<head>
  <title>Decision Maker - <%= title %> Poll </title>
  <%- include('partials/_header') %>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>
<body>
  <header>
    <div id="home-logo"><img src="/images/arrows.png" alt="Arrows picture" id="logo-pic"/></div>
    <div id ="logo">Decision Maker</div>
  </header>

  <main class="container">
    <section class="vote-section">
      <form class="vote-form" method="POST" action="/polls/<%= submissionLink %>/vote" id="pollForm">
<!-- Vote question-->
        <div class="vote-question">
          <h2><%= title %></h2>
          <p>Rank your choices from best to worst by dragging and dropping the options</p>
        </div>
<!-- Vote options-->
        <div class="vote-set">
          <ol id="optionsList" class="list-group list-group-numbered">
            <% poll.forEach(function(item) { %>
              <li class="list-group-item" data-option-id="<%= item.choice_id %>"><%= item.choice_title %><p class="m"><%=item.choice_description %></p></li>
            <% }) %>
          </ol>
        </div>
<!-- Enter voters name -->
        <div class="form-floating mb-4">
          <input type="text" class="form-control" id="name" name="name" placeholder="">
          <label for="name">Name (optional)</label>
        </div>
<!-- Button to submit -->
          <input type="hidden" name="rankings" id="rankingsInput">
          <button type="submit" class="submit-button">Submit vote</button>
      </form>
    </section>
  </main>
  <script>
    $(function() {
      $('#optionsList').sortable({
        axis: 'y',
        opacity: 0.8,
        cursor: 'move'
      });

      $('#pollForm').submit(function(event) {
        event.preventDefault();

        var rankings = $('#optionsList').sortable('toArray', {
          attribute: 'data-option-id'
        });

        // Set the value of the hidden input field
        $('#rankingsInput').val(rankings);

        // Submit the form
        $(this).unbind('submit').submit();
      });
    });
  </script>
  <%- include('partials/_footer') %>
</body>
</html>
